---
layout: base.njk
title: Posts
permalink: /posts/
---
<div class="post-list">
  <ol reversed>
    {% for post in collections.posts | sortByLastDate %}
      {% if post.content %}
        <li>
          <a href="{{ post.url | url }}">
            <span class="post-list-date">{{ post | extractDate | date("MMM d, yyyy") }}</span>
            <span class="post-list-title">{{ post.data.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
