---
layout: base.njk
title: Tags
eleventyExcludeFromCollections: true
---
<div class="page">
  <h1>Tags</h1>

  {% set tagList = collections.tagList %}
  {% for tag in tagList %}
    <div class="tag-group tag-group--{{ tag }}">
      <h2>#{{ tag }}</h2>
      <ol class="tag-group-list">
        {% for post in collections[tag] | reverse %}
          {% if post.data.tags and "post" in post.data.tags and post.content %}
            <li class="tag-group-item">
              <a href="{{ post.url | url }}" class="tag-group-title">{{ post.data.title }}</a>
              <span class="tag-group-date">{{ post.date | date("MMM d, yyyy") }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  {% endfor %}
</div>
