---
permalink: /feed.xml
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title | default("Half-baked") }}</title>
    <link>{{ site.url }}</link>
    <description>A minimal Eleventy blog</description>
    <lastBuildDate>{% if collections.posts.length > 0 %}{{ collections.posts[0].date.toUTCString() }}{% endif %}</lastBuildDate>
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date.toUTCString() }}</pubDate>
      <description><![CDATA[{{ post.templateContent | safe }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>